header {
    background-color: rgb(22, 21, 21);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    border-radius: 0px;
    margin-left: -5px;
    margin-right: -5px;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.cart-icon {
    color: orangered;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.cart-icon span {
    color: orange;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 0.9rem;
    
}
