/* Navigation Styles */
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.topnav li {
    flex: 1;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.topnav li a:hover:not(.active) {
    background-color: #111;
}

.topnav .active {
    background-color: orange;
}